.shade1{
    background-color: rgb(0,0,120);}

.shade2{
    background-color: rgb(0,0,108);}

.shade3{
    background-color: rgb(0,0,96);}

.shade4{
    background-color: rgb(0,0,84);}

.shade5{
    background-color: rgb(0,0,72);}

.shade6{
    background-color: rgb(0,0,60);}

.shade7{
    background-color: rgb(0,0,48);}

.shade8{
    background-color: rgb(0,0,36);}

.shade9{
    background-color: rgb(0,0,24);}

.shade10{
    background-color: rgb(0,0,12);}